<!DOCTYPE html>
<html>
    <head>
        <title >
            Electric Cell Potential
        </title>
    <!--    <div style="float: right; margin-top:7%; margin-right:25%">
            <img src="https://www.convergencetraining.com/videos/newvids/titration-fundamentals-Full.jpg"/>
            </div>
            <div> -->
    </head>
    <body style="background-color:rgba(132, 138, 141, 0.242);font-family:Tahoma;background: url(https://i.imgur.com/MJAkxbh.png);background-size:10%;">
        
       <!-- <form action ="graph/">
            <button id ="stat-btn" class="btn">Do it</button>
        </form>
        <form method=”POST” action= "simple_function/"> 
            {% csrf_token %}
            Input Text:
            <label> Username </label> 
            <input type=”text” name="username"/>
            <label> Password </label> 
            <input type=”text” name='password'/> 
            <button type=”submit”> Send </button> 
        </form> -->
        <div class="header" style = "background-color:rgb(33, 173, 38);border-radius: 8px;margin-top: 1%;margin-bottom: 1%;
        padding: 1%; 
        width: max-content;
        height: max-content;
        margin-left: 1%; ">
            <h1 style = "margin-top:.5%;margin-bottom:2%;color:white">Electric Cell Potential Calculator</h1>
          </div>
    
          <body style="margin-left:1%;margin-right:10%">
        <form method=”POST”  action= "answer/"> 
            {% csrf_token %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            <label style="font-family:Tahoma;margin-left: 1%;">Standard Reduction Potential of Oxidation (V)</label> 
            <input placeholder = "Standard Reduction Potential of Reduction (V)"type="text" id="form2Example1;totalamt" class="form-control" name = "s1" style = "margin-left: 1%;max-width: 30%;"  />
            <label style="font-family:Tahoma;margin-left: 1%;">Standard Reduction Potential of Oxidation (V)</label> 
            <input placeholder = "Standard Reduction Potential of Oxidation (V)"type="text" id="form2Example1;totalamt" class="form-control" name = "s2" style = "margin-left: 1%;max-width: 30%;"  />
            <label style="font-family:Tahoma;margin-left: 1%;">Temperature</label> 
            <input placeholder = "Enter the Temperature"type="text" id="form2Example1;totalamt" class="form-control" name = "t" style = "margin-left: 1%;max-width: 30%;"  />
            <label style="font-family:Tahoma;margin-left: 1%;">Reaction Quotient (Q)</label> 
            <input placeholder = "Enter the Reaction Quotient"type="text" id="form2Example1;totalamt" class="form-control" name = "q" style = "margin-left: 1%;max-width: 30%;"  />
            <label style="font-family:Tahoma;margin-left: 1%;">Moles Electrons Transfered per Mole Reaction</label> 
            <input placeholder = "Moles Electrons Transfered per Mole Reaction"type="text" id="form2Example1;totalamt" class="form-control" name = "n" style = "margin-left: 1%;max-width: 30%;"  />
            <button type="submit" class="btn btn-success" style="margin-left:1%;margin-top: .5%;">Submit</button>
        </form> 
        
    </body>
    </body>
    <div>
        </div>
        </div>
</html>
<form>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <button type="button" class="btn btn-success" style="margin-left:1%;margin-top:.5%"
    onclick="history.back()">Back</button>
</body>
</form>