<html>
    <div class="header" style = "background-color:rgb(33, 173, 38);border-radius: 8px;margin-top: 1%;margin-bottom: 1%;
    padding: 1%; 
    width: max-content;
    height: max-content;
    margin-left: 1%; ">    

<h1 style = "margin-top:.5%;margin-bottom:2%;color:white">Molar Mass Calculator</h1>
</div>
<body style="background-color:rgba(132, 138, 141, 0.242);background: url(https://i.imgur.com/MJAkxbh.png);background-size:10%")>
    
      <div class="header" style = "background-color:rgb(33, 173, 38);border-radius: 8px;margin-top: 1%;margin-bottom: 1%;
    padding: 1%; 
    width: max-content;
    height: max-content;
    margin-left: 1%; ">    

<h1 style = "margin-top:.5%;margin-bottom:2%;color:rgb(0, 0, 0);font-size: large;">{{gram}} grams of {{formula}} is {{mol}} moles</h1>
</div> 




<form>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <button type="button" class="btn btn-success" style="margin-left:1%;margin-top:.5%"
    onclick="history.back()">Back</button>
</body>
</form>
