
<html>
  <div class="header" style = "background-color:rgb(33, 173, 38);border-radius: 8px;margin-top: 1%;margin-bottom: 1%;
    padding: 1%; 
    width: max-content;
    height: max-content;
    margin-left: 1%; ">    

<h1 style = "margin-top:.5%;margin-bottom:2%;color:white">Chemistry Calculator</h1>
</div>
    <body style = "background-color: rgb(202, 202, 202);background: url(https://i.imgur.com/MJAkxbh.png);background-size:10%;">
<div class="header" style = "font-family:Tahoma">
    <h1 style="font-family:Tahoma; margin-top: 1%;margin-left:1%">Titration Tools</h1>
  </div>
</body>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<form action = "titration/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <button type="submit" class="btn btn-success" style="margin-left:1%">Strong Acid Strong Base Titration</button>
</form>
<div class="header" style = "font-family:Tahoma">
  <h1 style="font-family:Tahoma; margin-top: 1%;margin-left:1%">Chemical Formula Tools</h1>
</div>
</body>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<form action = "molMass/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<button type="submit" class="btn btn-success" style="margin-left:1%">Molar Mass Calculator</button>
</form>
</html>

