<!DOCTYPE html>
<html>
    <head>
        <title >
            Chemistry Calculator
        </title>
    <!--    <div style="float: right; margin-top:7%; margin-right:25%">
            <img src="https://www.convergencetraining.com/videos/newvids/titration-fundamentals-Full.jpg"/>
            </div>
            <div> -->
    </head>
    <body style="background-color:rgba(132, 138, 141, 0.242);font-family:Tahoma;background: url(https://i.imgur.com/MJAkxbh.png);background-size:10%;">
        
       <!-- <form action ="graph/">
            <button id ="stat-btn" class="btn">Do it</button>
        </form>
        <form method=”POST” action= "simple_function/"> 
            {% csrf_token %}
            Input Text:
            <label> Username </label> 
            <input type=”text” name="username"/>
            <label> Password </label> 
            <input type=”text” name='password'/> 
            <button type=”submit”> Send </button> 
        </form> -->
        <div class="header" style = "background-color:rgb(33, 173, 38);border-radius: 8px;margin-top: 1%;margin-bottom: 1%;
        padding: 1%; 
        width: max-content;
        height: max-content;
        margin-left: 1%; ">
            <h1 style = "margin-top:.5%;margin-bottom:2%;color:white">Reaction Rate Calculator</h1>
          </div>
          <body style="margin-left:1%;margin-right:10%">
        <form method=”POST”  action= "answer/"> 
            {% csrf_token %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            <label style="font-family:Tahoma;margin-left: 1%;"> Rate Constant (answer is in M/s) </label> 
            <input placeholder = "Enter Rate Constant"type="text" id="form2Example1;totalamt" class="form-control" name = "constant" style = "margin-left: 1%;max-width: 20%;"  />
            <label style="font-family:Tahoma;margin-left: 1%;"> Initial Concentration </label> 
            <input placeholder = "Enter Chemical Concentration"type="text" id="form2Example1;totalamt" class="form-control" name = "concentration" style = "margin-left: 1%;max-width: 20%;"  />
            <label style="font-family:Tahoma;margin-left: 1%;"> Order of Reaction </label> 
            <p style = "margin-top: 0px; margin-bottom: 0px;"></p>
            <select class="custom-select" id="exampleFormControlSelect1" name="order" style = "margin-left: 1%;max-width: 20%;" >
                <option>0th order</option>
                <option>1st order</option>
                <option>2nd order</option>
            </select>
            <p style = "margin-top: 0px; margin-bottom: 0px;"></p>
            <label style="font-family:Tahoma;margin-left: 1%;"> Time (s) </label> 
            <input placeholder = "Enter Chemical Concentration"type="text" id="form2Example1;totalamt" class="form-control" name = "time" style = "margin-left: 1%;max-width: 20%;"  />
            <button type="submit" class="btn btn-success" style="margin-left:1%;margin-top: .5%;">Submit</button>
        </form> 
        
    </body>
    </body>
    <div>
        </div>
        </div>
</html>
<form>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <button type="button" class="btn btn-success" style="margin-left:1%;margin-top:.5%"
    onclick="history.back()">Back</button>
</body>
</form>